---
layout: page
title: Sur un air de Java
tagline:
---
{% include JB/setup %}

<p class="lead">
  Petit blog sans prétention pour partager mes expériences en Java...<br/>
  Bonne lecture!
</p>

<div class="row">
  <div class="col-md-9">
    <section class="content">

      {% for post in paginator.posts %}

      <article class="preview">
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <section class="byline">{{ post.date | date: "%B %e, %Y" }}</section>
        <div class="summary">
          {% if post.content contains "<!-- more -->" %}
          {{ post.content | split:"<!-- more -->" | first % }}
          {% else %}
          {{ post.content | strip_html | truncatewords:100 }}
          {% endif %}
        </div>
        <div>
          <a href="{{ post.url }}">Lire la suite...</a>
        </div>
        <hr/>

      </article>

      {% endfor %}

      <!-- Pagination links -->
      <div class="text-center">
        <ul class="pagination pagination-lg">
          <!-- first page link -->
          {% if paginator.previous_page %}
          <li><a href="/index.html">&laquo;&laquo;</a></li>
          {% else %}
          <li class="disabled"><a href="#">&laquo;&laquo;</a></li>
          {% endif %}

          <!-- previous page link -->
          {% if paginator.previous_page %}
          <li><a href="/page{{paginator.previous_page}}">&laquo;</a></li>
          {% else %}
          <li class="disabled"><a href="#">&laquo;</a></li>
          {% endif %}

          <!-- current page -->
          <li>
            <span class="page_number ">Page {{paginator.page}} / {{paginator.total_pages}}</span>
          </li>

          <!-- next page link -->
          {% if paginator.next_page %}
          <li><a href="/page{{paginator.next_page}}">&raquo;</a></li>
          {% else %}
          <li class="disabled"><a href="#">&raquo;</a></li>
          {% endif %}

          <!-- last page link -->
          {% if paginator.next_page %}
          <li><a href="/page{{ paginator.total_pages }}">&raquo;&raquo;</a></li>
          {% else %}
          <li class="disabled"><a href="#">&raquo;&raquo;</a></li>
          {% endif %}
        </ul>
      </div>

    </section>
  </div>
  <div class="col-md-3">

    <div class="well tag-side-box">
      <h4>Tags</h4>
      <ul class="tag_box inline">
        {% assign tags_list = site.tags %}
        {% include JB/tags_list %}
      </ul>
    </div>

  </div>
</div>
